<% provide(:title, "About") %>
<% provide(:class, "about") %>

<h1>About</h1>
<p>This project was born from a desire to fulfill two goals:</p>
<ol>
  <li>
    As a world traveller, I wanted a simple and aesthetically appealing way
    to track my world travels. I wanted an easy-to-use and ad-free online tool
    that I could trust with my data.
  </li>
  <li>
    I wanted to expand my technical skills by building a Ruby on Rails web
    application and using D3 map projections.
  </li>
</ol>
<p>
  My name is Lauren Nishizaki, and you can see more of what I’m up to on my
  personal website,
  <%= link_to "www.laurennishizaki.com", 'https://www.laurennishizaki.com' %>.
</p>
<p>
  Source code for this project can be viewed on
  <%= link_to "Github", 'https://github.com/lemonnish/' %>.
</p>
<p>
  This project would not exist without Michael Hartl’s Ruby on Rails Tutorial
  and Mike Bostock’s work on D3.
</p>

<h2>Map projections</h2>

<p>
  Because the earth is round, any attempt to display it on a 2D surface will
  introduce distortions. Every map contains distortions, whether those
  distortions affect area, distance, shape, or cardinal directions.
</p>
<p>
  The Mercator projection can be found everywhere, yet it is notorious for
  heavily distorting areas closer to the north and south poles.
  Here is a list of some realizations I had after examining different map
  projections:
</p>
<ul>
  <li>Brazil is larger than the continental US.</li>
  <li>Australia is more than three times larger than Greenland.</li>
  <li>Africa is 20% larger than the entire North American continent
    (which includes Greenland).</li>
</ul>
<p>
  I chose unfamiliar map projections for this project to combat widspread
  misconceptions about geography. Every map has its pros and cons, and no single
  map is suitable for all purposes. But taken together, they provide a more
  nuanced understanding of our world's geography.
</p>
<ul>
  <li><strong>Airocean:</strong> This projection was created by Buckminster
    Fuller and Shoji Sadao in 1954. The map can be folded up into a 20-sided
    polygon (icosahedron), and is often referred to as a Dymaxion map.
    There is no correct orientation for viewing the map--the map distorts the
    viewer's perception of up, down, and the cardinal directions. Instead, the
    map depicts the world's continents as one nearly-contiguous land mass.
  </li>
  <li><strong>Polyhedral butterfly:</strong> Like the Dymaxion projection, this
    projection can be cut out and folded up into a regular polygon, this time
    with 8 faces.
  </li>
  <li><strong>Albers conic equal-area:</strong> Distances and shapes are distorted,
    but the overall area of all countries is preserved.
    This projection is named after Heinrich C. Albers.
  </li>
  <li><strong>Mollweide:</strong> This is an equal-area and pseudo-cyllindrical
    map. It was published by Karl Brandan Mollweide in 1805.
  </li>
  <li><strong>Interrupted Mollweide:</strong> This map was created by John Paul
    Goode; he adapted from the Mollweide projection around 1916. It is also an
    equal-area map, but the many interruptions (cuts) minimize shape distortion.
  </li>
  <li><strong>Jacques Bertin's 1953 map:</strong> This quirky map highlights
    the close proximity between North America and Asia when travelling
    through the northern pole.
  </li>
  <li><strong>Natural Earth:</strong> This is an attractive and familiar-looking
    projection. It was designed by Tom Patterson and Nathaniel Vaughn Kelso in
    2015 as a public-domain resource for cartographers.
  </li>

</ul>
<section>
  <% Map.projections_array.each do |name, d3| %>
    <span>
      <label for="<%= d3 %>"><%= name %></label>
      <svg class="world-map simple" id="<%= d3 %>"
      viewBox="-2 -2 400 200"preserveAspectRatio="xMidYMid meet"></svg>
    </span>
  <% end %>
</section>


<script>
  d3.json("https://unpkg.com/world-atlas@1/world/110m.json", function(error, world) {
    if (error) throw error;

    var svgList = d3.selectAll('svg.world-map');

    svgList.each( function() {
      svg = d3.select(this);
      drawMap(svg, world, false, false);
      updateProjection(svg, d3[svg.attr('id')]());
    })
  });
</script>
