<% provide(:title, "Log in") %>
<% provide(:class, "user_login") %>

<h1>Log in</h1>

<%= form_for(:session, url:login_path, html: { class: "skinny" }) do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control' %>

  <section>
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>
    <span>(<%= link_to "forgot password", new_password_reset_path %>)</span>
  </section>

  <%= f.submit "Log in" %>
  <p>Don't have an account? <%= link_to "Sign up here!", signup_path %></p>
<% end %>
