<svg class="world-map<%= yield(:interactive_map) == "true" ? "" : " simple" %>"
  viewBox="-2 -2 900 450" id="worldMap"
  preserveAspectRatio="xMidYMid meet"></svg>

<nav class="projection">
  <%= label(:map, :projection, "Map projection:") %>
  <%= select(:map, :projection, Map.projections_array) %>
</nav>

<script>

  document.addEventListener('turbolinks:load',function() {
    document.querySelector('select[name="map[projection]"]').onchange=reloadMap;
  },false);

  function reloadMap(event) {
    if (!event.target.value) alert('Please select one');
    updateProjection(svg, d3[event.target.value]());
  }

  var svg = d3.select('svg#worldMap');

  var mapContents = [ <% @map.get_selected_nums.each do |n| %>
      "<%= n %>",
  <% end %> ];

  d3.json("https://unpkg.com/world-atlas@1/world/110m.json", function(error, world) {
    if (error) throw error;

    <% if yield(:interactive_map) == "true" %>
      drawMap(svg, world, "country");
    <% else %>
      drawMap(svg, world, "country", true);
    <% end %>
    updateProjection(svg, d3['<%= @map.projection %>']());
  })

</script>
