<% provide(:title, "Edit map") %>
<% provide(:class, "map-edit") %>
<% provide(:form_dest, map_path(@map)) %>
<% @form_submit_names = ["Cancel", "Update map settings"] %>

<h1>Edit: <%= @map.title %></h1>
  <%= link_to "Return to view", @map %>

<h2>Edit map settings</h2>
  <%= render 'maps/form' %>

<h2>Add map content</h2>

  <%= form_for(@new_content, url:map_contents_path(@map)) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :country_code %>
    <%= f.text_field :country_code, class: 'form-control' %>

    <%= f.text_area :comment, placeholder: "Write something here (optional)" %>

    <div class="submit">
      <%= f.submit "Cancel" %>
      <%= f.submit "Add country info" %>
    </div>
  <% end %>

<h2>Edit map content</h2>

  <%= form_for(@map, url:map_contents_path(@map), method: :patch,
                     as: :map_content, html: { class:"edit_map_contents" }) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <% @map.map_contents.each do |content| %>
      <% field = "comment_#{ content.country_code }".to_sym %>
      <%= f.label field, content.country_name %>
      <%= f.text_area field %>
      <%= link_to "delete", map_content_path(@map, content), method: :delete %>
    <% end %>

    <div class="submit">
      <%= f.submit "Cancel" %>
      <%= f.submit "Save changes" %>
    </div>
  <% end %>

  <%= link_to "Return to view", @map %>
