<% provide(:title, @map.title) %>
<% provide(:class, "map-show") %>

<h1><%= @map.title %></h1>

<% if current_user?(@map.user) %>
  <%= link_to "Edit map", edit_map_path(@map) %>
<% end %>

<%= render 'maps/d3_map' %>

<div id="map-label">
  <div id="labelDefault" class="countrySelected">
    <p>Click on a country on the map to see data here.</p>
  </div>
  <% Map.country_codes.sort.each do |alpha_code| %>
    <% country = ISO3166::Country.new(alpha_code) %>
    <% name = Map.get_ext_name_from_country(country) %>
    <% region = Map.get_region_name_from_country(country) %>
    <div id='<%= "label-country-#{ country.number }"%>'>
      <% name.each_with_index do |n, i| %>
        <% if i == 0 %>
          <h2><%= n %></h2>
        <% else %>
          <p><%= n %></p>
        <% end %>
      <% end %>
      <ul>
        <li>Continent: <%= country.continent %></li>
        <% if !region.empty? %>
          <li>Region: <%= region.join(" / ") %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

<h2>Map content</h2>

<% if @map.map_contents.count > 0 %>
  <table>
    <tr><th>Country</th><th>Comment</th></tr>
    <% @map.map_contents.each do |content| %>
      <tr>
        <td><%= content.country_name %></td>
        <td><%= content.comment %></td>
      </tr>
    <% end %>
  </table>
<% end %>
