<!DOCTYPE html>
<html>
  <head>
    <title>Visualizing the World</title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <main class="<%= yield(:class) %>">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <%= yield %>
    </main>
    <%= render 'layouts/footer' %>

    <% if Rails.env.development? %>
      <div class="development">
        <%= debug(params) %>
      </div>
    <% end %>
  </body>
</html>
