<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
    <%= render 'layouts/d3_map_scripts' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>

  <body>
    <%= render 'layouts/header' %>
    <main class="<%= yield(:class) %>">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <%= yield %>
    </main>
    <%= render 'layouts/footer' %>

    <% if Rails.env.development? %>
      <div class="development">
        <%= debug(params) %>
      </div>
    <% end %>
  </body>
</html>
